@import '../loop';

.loop-mix-in(@selector, @index, @from, @to) when (@selector = ' .grid') {

  &-span-@{index} {
    @nested-col-width: 100% / @to;
    width: @nested-col-width * @index;
  }

}

.loop-mix-in(@selector, @index, @from, @to) when (@selector = '.grid') {

  &-span-@{index} {
    @grid-col-width: 100% / @to;
    width: @grid-col-width * @index;

    .loop(1, (@index - @from + 1), ' .grid', '-', none);
  }

}

.loop(1, 12, '.grid', '-', none);