@import 'loop';

.loop-mix-in(@selector, @index, @from, @to) when(@selector = '.tape') {
    content: '@{index}';
    z-index: (@to - @from) - (@to - @index);
}

.loop-mix-in(@selector, @index, @from, @to) when(@selector = '#public-enemy') {
    content: '@{index}';
    z-index: (@to - @from) - (@to - @index);
}

.loop(1950, 1970, '.tape');
.loop(1982, 1990, '#public-enemy', '.year-');
